body {

    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .jumbotron h1{
      color: black;
  
  }
  
  img {

  margin-top: 40px;
    width: 350px;
  }
  
  .submitFont{
      
      color: black;
  }