body {

    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
img {

  margin-top: 40px;
    width: 350px;
  }

  h3 {
    font-size: 30px;
    font: bold;
  }

  label {
    font-size: 30px;
  }

  .btn {
    background-color: black;
  }

  
  